<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1">
                    <match url="^articles/([^/]+)" ignoreCase="false" />
                    <action type="Rewrite" url="/articles.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 2">
                    <match url="^me(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="me.php" />
                </rule>
                <rule name="Imported Rule 3">
                    <match url="^register(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="register.php" />
                </rule>
                <rule name="Imported Rule 4">
                    <match url="^staff(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="staff.php" />
                </rule>
                <rule name="Imported Rule 5">
                    <match url="^logout(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="logout.php" />
                </rule>
                <rule name="Imported Rule 6">
                    <match url="^articles(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="articles.php" />
                </rule>
                <rule name="Imported Rule 7">
                    <match url="^client(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="client.php" />
                </rule>
                <rule name="Imported Rule 8">
                    <match url="^security_check(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="security_check.php" />
                </rule>
                <rule name="Imported Rule 9">
                    <match url="^gamedata/([^/]+)" ignoreCase="false" />
                    <action type="Rewrite" url="/gamedata.php?id={R:1}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
